{% comment %}
  _includes/logo.svg
  This is your original SVG code. We will style it with CSS.
{% endcomment %}
<svg class="theme-aware-logo" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
  <!-- NOTE: I've removed the top-level fill="#000000" and the unnecessary <g> wrappers -->
  <g id="SVGRepo_iconCarrier">
    <!-- Each path will be targeted by our SCSS -->
    <path class="logo-bg-main" style="fill:#00ABD5;" d="M504.082..."></path>
    <path class="logo-bg-shadow" style="fill:#009DD3;" d="M63.932..."></path>
    <g class="logo-corners">
      <polygon style="fill:#FFFFFF;" points="..."></polygon>
      <polygon style="fill:#FFFFFF;" points="..."></polygon>
      <polygon style="fill:#FFFFFF;" points="..."></polygon>
      <polygon style="fill:#FFFFFF;" points="..."></polygon>
    </g>
    <path class="logo-shape-1" style="fill:#FFD248;" d="M403.794..."></path>
    <path class="logo-shape-2" style="fill:#FFE1B2;" d="M171.446..."></path>
    <path class="logo-shape-3" style="fill:#FFD7A3;" d="M217.107..."></path>
    <path class="logo-shape-4" style="fill:#A97C50;" d="M256..."></path>
    <path class="logo-shape-5" style="fill:#FDC147;" d="M217.107..."></path>
    <path class="logo-shape-6" style="fill:#8A6640;" d="M170.435..."></path>
    <g class="logo-outline">
      <path style="fill:#231F20;" d="M472.412..."></path>
      <path style="fill:#231F20;" d="M332.96..."></path>
      <polygon style="fill:#231F20;" points="..."></polygon>
    </g>
  </g>
</svg>