{% if paginator.total_pages > 1 %}
<nav class="sf-pagination" role="navigation" aria-label="Pagination">
  
  {% if paginator.previous_page %}
    {% include button.html text="Newer Posts" link=paginator.previous_page_path variant="neutral" icon="arrow-left" %}
  {% else %}
    <span></span> <!-- Empty span to maintain flexbox alignment -->
  {% endif %}

  <span class="sf-pagination__text">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    {% include button.html text="Older Posts" link=paginator.next_page_path variant="neutral" icon="arrow-right" icon_position="right" %}
  {% else %}
    <span></span> <!-- Empty span to maintain flexbox alignment -->
  {% endif %}
  
</nav>
{% endif %}