---
layout: default
---
<div class="page-body-section-v8">
  <div class="sf-container">
    <div class="doc-page-grid-container">

      <!-- Sticky Sidebar Navigation -->
      <aside class="doc-sidebar">
        <nav class="doc-sidebar-nav">
          <p class="doc-sidebar-nav__title">Documentation</p>
          <ul>
            {% assign sorted_docs = site.docs | sort: 'order' %}
            {% for doc in sorted_docs %}
              <li>
                <a href="{{ doc.url | relative_url }}" {% if page.url == doc.url %}class="is-active"{% endif %}>
                  {{ doc.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
        <div class="sf-card sidebar-widget">
          <div class="sf-card__header">Found an Issue?</div>
          <ul class="page-actions-list-v8">
            <li><a href="#"><i class="ph-bold ph-github-logo"></i><span>Edit this page on GitHub</span></a></li>
          </ul>
        </div>
      </aside>

      <!-- Main Documentation Content -->
      <main class="doc-content-main">
        <div class="sf-card page-content-card-v8">
          <article class="sf-card__body typeset-v8">
            <h1 class="doc-content-title">{{ page.title }}</h1>
            <p class="doc-content-description">{{ page.description }}</p>
            <hr>
            {{ content }}
          </article>
        </div>
      </main>

    </div>
  </div>
</div>